@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+Hebrew&family=Secular+One&family=Suez+One&display=swap');

.about-usr {
    padding: 50px 0px 0px 0px;
  align-items: center;
  text-align: center;
  align-content: center;
}
.about-usr h2{
    color: #1d273b;
    font-weight: 300;
}

.about-usr titulo {
    font-size: 50px;
    text-align:center;
}

.about-usr hps{
  color: #1d273b;
  font-weight: 300;
  font-size: 35px;
  font-family: 'Secular One', sans-serif;
  align-items: center;
  text-align: center;
  align-content: center;
  margin: auto;
}

.contenedor-alia{
  padding: 20px 0px;
  display: flex;
  width: 15%;
  height: -66px;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: center;
  float: left;
  position: absolute;
  left: -25px;
  transform: rotate(-91deg);
}

.contenedor-alia .checklist-serviciopar .service p {
    font-size: 25px;
    font-weight: 500;
    word-spacing: 0.2px;
    letter-spacing: 0.2px;
    
    margin-bottom: 20px;
    font-family: 'Noto Sans Hebrew', sans-serif;
    color: #000;
}

.contenedor-alia .checklist-serviciopar{
    width: 100%;
}

.contenedor-alia .service{
    margin-bottom: 20px;
}

.contenedor-servicio{
  padding: 0px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  height: auto;
}

.contenedor-servicio img{
  object-fit: cover;
  position: absolute;
    width: 275; /* width of container */
    height: 275px; /* height of container */
    object-fit: cover;
    object-posit5ion: 0% 10%; /* try 20px 10px */ 
    border-radius: 50%;
}

.checklist-servicio{
    width: 45%;
}

.checklist-serviciopar{
  padding: 0px 0px 15px 0px;
    width: 65%;
    text-align: left;
    align-items: flex-start;
}


.service{
    margin-bottom: 20px;
    width: 100%
}

.text{
  display: flex;
  width:100%;
}

.checklist-servicio .service p{
  
  font-size: 22px;
  word-spacing: 0.2px;
  letter-spacing: 0.2px;
  line-height: 1.56;
  margin-bottom: 20px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  color: #000;
}

.checklist-servicio .service p{
  
  font-size: 22px;
  word-spacing: 0.2px;
  letter-spacing: 0.2px;
  line-height: 1.56;
  margin-bottom: 20px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  color: #000;
}

.checklist-servicio .service .text{
position: inherit;
}

.checklist-servicio .service a i{
    font-size: 20px;
    color: #fff;
    background: #00e3ff;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 7px;
    margin-left: 5px;
    border-radius: 50%;
    box-shadow: 0 8px 25px rgb(44 51 51 / 43%);
}


.checklist-serviciopar .service p{
  
  font-size: 22px;
  word-spacing: 0.2px;
  letter-spacing: 0.2px;
  line-height: 1.56;
  margin-bottom: 20px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  color: #000;
}

.checklist-serviciopar .service p{
  
  font-size: 22px;
  word-spacing: 0.2px;
  letter-spacing: 0.2px;
  line-height: 1.56;
  margin-bottom: 20px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  color: #000;
}

.checklist-serviciopar .service .verse-number {
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: bold;
    display: inline;
    padding: 0px 5px;
    font-size: 28px;
    color: #202327;
}

.checklist-serviciopar .service .text{
position: inherit;
}

.checklist-serviciopar .service a i{
    font-size: 20px;
    color: #fff;
    background: #00e3ff;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 7px;
    margin-left: 5px;
    border-radius: 50%;
    box-shadow: 0 8px 25px rgb(44 51 51 / 43%);
}


.contenedor-serviciohaf{
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  height: 550px;
  overflow: scroll;
}
.contenedor-serviciohaf::-webkit-scrollbar {
   width: 7px;
   height: 20px;
}

.contenedor-serviciohaf ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}
 

.contenedor-serviciohaf::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #b4630a, #ffd08e);
  border-radius: 10px;
	-webkit-box-shadow: rgba(0 0 0 / 1%) 0 3px 1px 1px;
  border-radius: 50px;
}

/* Manejador hover */
.contenedor-serviciohaf::-webkit-scrollbar-thumb:hover {
background-image: linear-gradient(45deg, #b4630a, #fff58e);
  border-radius: 10px;
	-webkit-box-shadow: rgb(0 0 0 / 1%) 0 3px 1px 1px;
}


.contenhaf {
    width: 99%;
    padding: 0px 7px 0px 10px;
    margin: auto;
    overflow: hidden;
}

.checklist-serviciohaf{
    width: 95%;
}

.checklist-serviciohaf .service p{
  
font-size: 20px;
word-spacing: 0.2px;
letter-spacing: 0.2px;
line-height: 1.56;
margin-bottom: 20px;
font-family: 'Noto Sans Hebrew', sans-serif;
color: #000;
text-align: initial;
}

.checklist-serviciohaf .service .verse-number {
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: bold;
    display: inline;
    padding: 0px 5px;
    font-size: 23px;
    color: #202327;
}

.checklist-serviciohaf .service .text{
position: inherit;
}

.checklist-serviciohaf .service a i{
    font-size: 20px;
    color: #fff;
    background: #00e3ff;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 7px;
    margin-left: 5px;
    border-radius: 50%;
    box-shadow: 0 8px 25px rgb(44 51 51 / 43%);
}



.con2ts{
  padding: 20px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 45%;
}


.con2ts .servp{
    margin-bottom: 10px;
}

.con2ts .servp p{
  font-size: 16.5px;
  text-align: initial;
  word-spacing: 0.2px;
  letter-spacing: 0.2px;
  line-height: 1.56;
    margin-bottom: 20px;
}

p{
  font-size: 22px;
  word-spacing: 0.2px;
  letter-spacing: 0.2px;
  line-height: 1.56;
  margin-bottom: 20px;
  font-family: 'Noto Sans Hebrew', sans-serif;
}
.verse {
  width: 45%;
  display: flex;
  position: static;
  display: inline;
  line-height: normal;
  align-items: flex-start;
  align-content: center;
  font-family: 'Noto Sans Hebrew', sans-serif;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
  text-align: right;
    direction: rtl;
}

.verse .verse-text {
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-size: 28px;
    color: #202327;
    text-align: right;
    direction: rtl;
}

.verse .verse-text span.bold {
    font-weight: bold;
    font-size: 30px;
    margin-top: -5px;
    display: inline-block;
    text-indent: initial;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.verse .verse-number {
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: bold;
    display: inline;
    padding: 0px;
    font-size: 28px;
    color: #202327;
}

.n-service{
    margin-bottom: 7px;
    color: #743105;
    font-size: 18px;
    font-weight: 400;
}

.number{
    display: inline-block;
    /* 02 */
    background-image: linear-gradient(to top, #7c4000 0%, #f2b760 100%);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 700;
    float: left;
}


@media screen and (max-width: 800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
     object-fit: cover;
     border-radius: 50%;
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    object-position: 20% 10%;
     margin-bottom: 40px;
    }
    
    .contenedor-servicio {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    align-items: flex-start;
}

    .checklist-servicio{
        width: 99%;
    }


.checklist-serviciopar{
    width: 95%;
}

.service{
    margin-bottom: 20px;
    width: 100%
}

.text{
  display: flex;
  width:100%;
}

.checklist-servicio .service p{
  
  font-size: 22px;
  word-spacing: 0.2px;
  letter-spacing: 0.2px;
  line-height: 1.56;
  margin-bottom: 20px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  color: #000;
}

.checklist-servicio .service p{
  
  font-size: 22px;
  word-spacing: 0.2px;
  letter-spacing: 0.2px;
  line-height: 1.56;
  margin-bottom: 20px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  color: #000;
}

.checklist-servicio .service .text{
position: inherit;
}

.checklist-servicio .service a i{
    font-size: 20px;
    color: #fff;
    background: #00e3ff;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 7px;
    margin-left: 5px;
    border-radius: 50%;
    box-shadow: 0 8px 25px rgb(44 51 51 / 43%);
}


.checklist-serviciopar .service p{
  
  font-size: 22px;
  word-spacing: 0.2px;
  letter-spacing: 0.2px;
  line-height: 1.56;
  margin-bottom: 20px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  color: #000;
}

.checklist-serviciopar .service p{
  
font-size: 20px;
  
word-spacing: 0.2px;
  
letter-spacing: 0.2px;
  
line-height: 1.56;
  
margin-bottom: 20px;
  
font-family: 'Noto Sans Hebrew', sans-serif;
  
color: #000;
}

.checklist-serviciopar .service .verse-number {
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: bold;
    display: inline;
    padding: 0px 5px;
    font-size: 25px;
    color: #202327;
}

.checklist-serviciopar .service .text{
position: inherit;
}

.checklist-serviciopar .service a i{
    font-size: 20px;
    color: #fff;
    background: #00e3ff;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 7px;
    margin-left: 5px;
    border-radius: 50%;
    box-shadow: 0 8px 25px rgb(44 51 51 / 43%);
}

.verse {
     width: 60%;
}

.verse .verse-text {
     font-size: 22px;
     width: 45%;
}

.verse .verse-text span.bold{
     font-size: 24px;
}

.verse .verse-number{
     font-size: 26px;
}
    .servp{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .img-galeria{
        width: 45%;
    }
    
    .agregarImagen{
        width: 80%;
    }

    
    .cont-expert{
        width: 80%;
    }
    
    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
    
    .contenedor-alia{
  width: 17%;
  height: -86px;
  left: -25px;
  transform: rotate(-91deg);
  font-size: 15px
}

    .contenedor-alia .checklist-serviciopar .service p {
    font-size: 20px;
    font-weight: 300;
    word-spacing: 0.2px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
    font-family: 'Noto Sans Hebrew', sans-serif;
    color: #000;
}
}


@media screen and (max-width: 500px){
    .menu-navegacion{
        width: 65vw;
    }

    .hamburguer{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .img-galeria{
        width: 95%;
    }
    
    .agregar-imagen{
        width: 90%;
    }

    .social-media{
        width: 100%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 95%;
        margin-bottom: 40px;
    }
    .verse {
      width: 35%;
    }

.checklist-serviciopar{
    width: 58%;
}
        .contenedor-alia{
  width: 30%;
  height: -86px;
  left: -25px;
  transform: rotate(-91deg);
  font-size: 15px
}

    .contenedor-alia .checklist-serviciopar .service p {
    font-size: 17px;
    font-weight: 300;
    word-spacing: 0.2px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
    font-family: 'Noto Sans Hebrew', sans-serif;
    color: #000;
}

.contenedor-alia .number{
      display: inline-block;
    background-image: linear-gradient(to top, #7c4000 0%, #f2b760 100%);
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #fff;
    font-weight: 700;
    float: left;
}


.checklist-serviciohaf .service p {
    font-size: 18px;
}

.contenedor-serviciohaf .checklist-serviciohaf .service p {
    font-size: 2.7vh;
    margin-bottom: 10px;
}

.contenedor-serviciohaf .checklist-serviciohaf .service p .verse-number {
    font-size: 20px;
}
}

@media screen and (max-width: 600px){
  .contenedor-alia {
    padding: 20px 0px;
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    align-content: center;
    float: left;
    position: absolute;
    left: -20px;
    transform: rotate(-91deg);
} 
}


@media screen and (max-width: 400px){
  .contenedor-alia {
    padding: 20px 0px;
    display: flex;
    width: 25%;
    height: -66px;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    align-content: center;
    float: left;
    position: absolute;
    left: -25px;
    transform: rotate(-91deg);
} 
}